<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# <link rel="manifest" href="site.webmanifest"> #}
    {# <link rel="apple-touch-icon" href="icon.png"> #}
    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{{ asset('/assets/css/stylesheet.css') }}">
</head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('/assets/js/modernizr.js') }}"></script>
        <script src="{{ asset('/assets/js/jquery-3.0.0.min.js') }}"></script>
        <script src="{{ asset('/assets/js/main.js') }}"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        {#
            <script>
                window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
                ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
            </script>
            <script src="https://www.google-analytics.com/analytics.js" async defer></script>
        #}
    </body>
</html>